/* Colores */
.primary-color{
    color: $primary-color;
}

.primary-color-bg{
    background: $primary-color;
}

.secondary-color{
    color: $secondary-color;
}

.secondary-color-bg{
    background: $secondary-color;
}

.color-gray{
    background: $color-gray;
}
.white{
    background-color: #fff;
}
.azul{
    color: #0272e2;
}
.fondo-azul{
    background-color: #0272e2;
}