/* clases globales */

button, button:focus{
    outline: none !important;
    box-shadow: none !important;
}
.card{
    border: none;
}
.cardd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 1rem;
  }
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
@media screen and (max-width: 600px) {
    #somos{
        text-align: center;
    }
}
@media screen and (max-width: 320px){
    #somos{
        display: none;
    }
    #nos{
        display: none;
    }
}
.container-fluid{
    padding: 1em;
}

  #navbarb{
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
  }