$font-baloo: "Baloo Thambi 2", cursive;
$font-shadows: "Shadows Into Light", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$font-roboto: "Roboto", cursive;
$font-lato: "Lato", cursive;
$font-monse: "Montserrat", cursive;
$primary-color: #003859;
$secondary-color: #EBF5FB;
$color-yellow: #FFD288;
$color-gray: #c7c7c7;